body {
  font-family: sans-serif;
}

.card {
  width: 350px;
  height: 162px;
  margin-left: 5px;
  border-style: ridge;
  white-space: nowrap;
}

i {
  font-size: 3rem;
}
.card-title {
  margin-left: 20px;
}

.card-subtitle {
  font-size: 14px;
}

.card-body {
  display: flex;
  flex-direction: row;
  min-height: 22px;
  width: 188.891px;
  letter-spacing: 0.1px;
}

.card-body img {
  width: 4rem;
  height: 110px;
  width: 110px;
}

button {
  border: none;
  padding: 8px;
}

i {
  color: rgb(83, 80, 80);
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: grey;
  /** stroke-width: 30px; **/
  padding: 8px;
}

button {
  background-color: white;
  color: rgb(98, 0, 238);
  font-size: 14px !important;
  font-weight: 600;
}

button:hover {
  background-color: yellow;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5px;
  font-size: 1rem;
}
